/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  font-style: sans-serif;
}
.homepage-bgimage {
  background: url("https://storage.123fakturere.no/public/wallpapers/geiranger.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: fixed;
  object-position: center center;
  overflow-y: auto;
}

.ContentConatiner{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
}

.ContentConatiner p{
  font-size: 14px;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
margin-right: 50px;
/* text-align: justify; */
}


/* for hidden the scroller  */
.homepage-bgimage::-webkit-scrollbar {
  width: 0px;
}


/* .homepage-bgimage::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px; 
}

.homepage-bgimage::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
} */



