/* App.css */

body {
    margin: 0;
    font-style: sans-serif;
}

.app {
    text-align: center;
}

header {
    margin-top: 30px;
    /* background-color: #333; */
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    margin-left: 15%;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-weight: 700;
}

nav li {
    margin-right: 20px;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 30px;

}

.logo:hover {
    cursor: pointer;
}

/* Media query for mobile */
@media (max-width: 600px) {
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 10%;
        width: 50%;
        background-color: white;
        border-radius: 20px;
        text-align: center;
        color: black;
        font-weight: 700;
    }

    nav:hover {
        display: flex;
        color: black;
    }

    nav.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }

    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
    }

    .mobile-nav-toggle span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }

    .logo {
        display: none;
    }
}